body {
  background-color: #ffeea9;
  font-family: "Helvetica", "Arial", sans-serif;
  color: #212121;
  margin: 0;
  padding: 0;
}

header img {
  display: block;
  margin: 40px auto;
  max-width: 95%;
  height: auto;
  border-radius: 8px;
   object-fit: cover;
}

main {
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
  text-decoration: underline;
}

.form-section {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff6d5;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form .form-row {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

form label {
  font-size: 18px;
  margin-bottom: 5px;
}

form input,
form textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

form button {
  background-color: #212121;
  color: #fff;
  font-size: 18px;
  padding: 12px 25px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #444;
}

footer {
  text-align: center;
  margin-top: 50px;
  padding: 20px 0;
  font-size: 14px;
  color: #212121;
}
