* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: "Helvetica", Arial, sans-serif;
  color: #C0C9EE;
  line-height: 1.6;
  padding: 20px;
}

header {
    height: auto;
  text-align: center;
  margin-bottom: 50px;
}

nav a, footer > p > a{
  color: #C0C9EE;
  text-decoration: none;
  margin: 10px 15px;
  font-size: 18px;
  padding:10px;

}

nav a:hover {
  text-decoration: underline;
  background-color: #A2AADB;
    color: black;
    cursor:pointer;
    padding:10px;

}
footer > p > a:hover{
    text-decoration: underline;
    background-color: #A2AADB;
    color: black;
    cursor:pointer;
    padding:10px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 20px;
}

.profile-image img {
  width: 100%;
  max-width: 300px;
  border-radius: 50%;
}
.profile-image{
    animation: slidein 1s ease; 
  transition: transform 1s ease;

}
@keyframes slidein{
    from{
        transform:translateX(-100%);
        opacity:0;
    }
    to{
        transform:translateX(0%);
        opacity:1;

    }
}


.bio {
  max-width: 600px;
  animation: slidein2 1s ease;
  transition: transform 1s ease;
}
@keyframes slidein2{
    from{
        transform:translateX(100%);
        opacity:0;
    }
    to{
        transform:translateX(0%);
        opacity:1;
    }
}

.bio h1 {
  color: #A2AADB;
  font-size: 40px;
  margin-bottom: 10px;
}

.bio .subtitle {
  font-size: 24px;
  margin-bottom: 20px;
  color: #C0C9EE;
}

.bio p{
  font-size: 18px;
  margin-bottom: 20px;
}

footer{
  text-align: center;
  margin-top: 50px;
  padding: 20px 0;
  border-top: 1px solid #444;
}

footer p{
  margin-bottom: 10px;
}

footer a i{
  font-size: 24px;
  color: #B197FC;
}

@media (max-width: 768px) {
  main{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .bio{
    max-width: 90%;
  }

  .bio h1, .bio .subtitle, .bio p{
    text-align: center;
  }
}